


@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" ng-app="myApp1">
<head>
    <title>Teacher-ViewResult</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="~/Scripts/ViewExp.js"></script>
    <link rel="stylesheet" href="~/Content/navbar.css" type="text/css" />

    <script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
        function myFunction(id) {

            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
  document.getElementById("myDropdown"+id).classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
    </script>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        /* Style the header */
        header {
            background-color: #00004d;
            padding-top: 1px;
            padding-bottom: 1px;
            text-align: left-center;
            font-size: 32px;
            color: white;
        }

        /* Container for flexboxes */
        section {
            display: -webkit-flex;
            display: flex;
        }



        input[type=text], select {
            width: 30%;
            padding: 12px 20px;
            margin: 10px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        /* Style the content */
        article {
            -webkit-flex: 3;
            -ms-flex: 3;
            flex: 3;
            background-color: #ffff99;
            padding-bottom: 800px;
            margin-left: -100px;
        }

        /* Style the footer */
        footer {
            background-color: #777;
            padding: 10px;
            text-align: center;
            color: white;
        }

        .panel-heading {
            font-size: 20px;
            background-color: orangered;
            color: white;
            padding: 10px 15px;
            border-bottom: 1px solid transparent;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
        /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */


        img {
            float: left;
            margin-top: -1px;
        }

        .box {
            width: auto;
            height: auto;
            margin: 100px;
            padding: 100px;
            background-color: #00004d;
            color: white;
            display: inline-block;
            border-radius: 5px;
        }

        .box2 {
            width: 450px;
            height: 300px;
            margin: 19px 17px;
            background: white;
            display: inline-block;
            border-radius: 5px;
            border: 1px solid black;
            box-sizing: border-box;
        }

        .box3 {
            width: 450px;
            height: 300px;
            margin: 19px 17px;
            background: white;
            display: inline-block;
            border-radius: 5px;
            border: 1px solid black;
            box-sizing: border-box;
        }



        .button#b1 {
            background-color: #4CAF50;
            border-radius: 2px;
            color: white;
            padding: 10px 30px;
            text-align: center;
            text-decoration: none;
            display: block;
            font-size: 16px;
            margin: 40px 2px;
            cursor: pointer;
            width: 10%;
            float: right;
        }

        .content {
            border-radius: 20px;
            background-color: white;
            padding: 20%;
            margin: 20px 30px 20px 30px;
            position:;
        }



        .container {
            margin: 50px 100px 100px 100px;
            width: 10px;
            border-radius: 5px;
            background-color: gray;
            padding: 10%;
            padding-right: 50%;
            text-align: left;
        }


        .imagelink {
            background: url(../../Content/images/new.jpg) no-repeat top left;
            border-radius: 0px;
            width: 203px;
            height: 124px;
        }

        table {
            border-collapse: collapse;
            width: 165%;
            margin-left: -30%;
            margin-top: -25%;
            margin-bottom: 10px;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>



    <header>
        <a href='@Url.Action("AdminHome", "User")'><img src="~/Content/images/new logo 5.jpg" style="border-radius:5px; width:203px;height:124px;"></a>
        <b style="position:absolute;right:35px;top:20px;font-size:20px;">Admin</b>

        <a href='@Url.Action("Login", "User")' class="button" id="b1">Logout</a>
        <h4 style="text-align:left; margin-left: 300px;"> <b>Welcome To FGS</b> Management System</h4>
    </header>
    <section>
        <nav>
            <ul>
                <li>
                    <div class="dropdown">
                        <button onclick="myFunction('1')" class="dropbtn">Students &#9660</button>
                        <div id="myDropdown1" class="dropdown-content">
                            @Html.ActionLink("Add Student", "AddStudent", "User")
                            @Html.ActionLink("All Students", "ShowStudents", "User")
                        </div>

                    </div>





                    <hr />
                </li>

                <li>
                    <div class="dropdown">
                        <button onclick="myFunction('2')" class="dropbtn">Teachers &#9660</button>
                        <div id="myDropdown2" class="dropdown-content">
                            @Html.ActionLink("Add Teacher", "AddTeacher", "User")
                            @Html.ActionLink("View Teachers", "ShowTeachers", "User")
                        </div>

                    </div>

                    <hr />
                </li>

                <li>

                    <div class="dropdown">
                        <button onclick="myFunction('3')" class="dropbtn">Parents &#9660</button>
                        <div id="myDropdown3" class="dropdown-content">
                            @Html.ActionLink("View Parents", "ShowParents", "User")
                        </div>

                    </div>

                    <hr />
                </li>

                <li>
                    <div class="dropdown">
                        <button onclick="myFunction('4')" class="dropbtn">Finance &#9660</button>
                        <div id="myDropdown4" class="dropdown-content">
                            @Html.ActionLink("Add Due", "AddDue", "Finance")
                            @Html.ActionLink("Show Dues", "ShowDue", "Finance")
                            @Html.ActionLink("Add Expense", "AddExpense", "Finance")
                            @Html.ActionLink("View Expenses", "ViewExpense", "Finance")
                        </div>

                    </div>


                    <hr />
                </li>

                <li>
                    <div class="dropdown">
                        <button onclick="myFunction('5')" class="dropbtn">Announcements &#9660</button>
                        <div id="myDropdown5" class="dropdown-content">
                            @Html.ActionLink("Add Announcements", "AddAnnouncementsAdmin", "Communication")
                            @Html.ActionLink("View Announcements", "ViewAnnouncements", "Communication")
                        </div>

                    </div>



                    <hr />
                </li>

                <li>

                    <div class="dropdown">
                        <button onclick="myFunction('6')" class="dropbtn">Time Table &#9660</button>
                        <div id="myDropdown6" class="dropdown-content">
                            @Html.ActionLink("Add Schedule", "AddSchedule", "Schedule")
                            @Html.ActionLink("View Schedule", "ViewSchedule", "Schedule")
                        </div>

                    </div>
                    <hr />
                </li>
                <li>
                    <div class="dropdown">
                        <button onclick="myFunction('7')" class="dropbtn">Attendance &#9660</button>
                        <div id="myDropdown7" class="dropdown-content">
                            @Html.ActionLink("View Attendance", "ViewAttendance", "Attendance")
                        </div>

                    </div>
                    <hr />
                </li>
            </ul>

        </nav>

        <article ng-controller="ExpCntrl">
            <div class="panel-heading">
                <b>Expenses</b>
            </div>
            <label style="margin-left:20px;">Type:</label>
            <select id="type" ng-model='type' style="margin-left:42px;display:inline;">
                <option value="">None</option>
                <option value="Stationary">Stationary</option>
                <option value="Utility">Utility</option>
                <option value="Salary">Salary</option>
                <option value="Transport">Transport</option>
                <option value="other">other</option>

            </select>

            
            
            <br />
            <label style="margin-left:20px;" for="fsection">Status</label>
            <select style="margin-left:15px;" id="status" name="status" ng-model="status">
                <option value="">none</option>
                <option value="Due"> Due </option>
                <option value="Paid"> Paid </option>
            </select>

            <label style="margin-left:20px;">Date:</label>
            <input type="text" placeholder="Date: month/day/year m/dd/yyyy" ng-model="date" />



            <div class="content" style="overflow-y:scroll; overflow-x: auto;">
                <table>
                    <tr>

                        <th>Expense Type</th>

                        <th>Date</th>
                        <th>Amount</th>
                        <th>Status</th>
                        

                    </tr>


                    <tr ng-repeat="x in people | filter:type:true  | filter:status:true | filter:date:true">
                        <td>{{ x.Type }}</td>

                        <td>{{ x.Date}}</td>
                        <td>{{ x.Amount }}</td>
                        <td>{{ x.Status }}</td>
                        


                    </tr>


                </table>
            </div>





        </article>
    </section>

    <footer>
        <p>Footer</p>
    </footer>

</body>
</html>

