

@model MySchool.Models.Result

@{
    Layout = null;
   // MySchool.models
}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="~/Content/navbar.css" type="text/css" />
    <script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
        function myFunction(id) {

            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
  document.getElementById("myDropdown"+id).classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

    <script>
        $(document).ready(function () {
            /*var data = JSON.stringify({
                'id': 't0051'
            });*/
            $.ajax({
                type: "GET",
                url: '@Url.Action("getTeacherClasses","User")',
                data: {id:'@Session["username"].ToString()'},
                success: function (list) {
                    var s = '<option value="-1">Please Select a Class</option>';
                    for (var i = 0; i < list.length; i++) {
                        s += '<option value="' + list[i].ClassID + '">' + list[i].ClassID + '</option>';
                    }
                    $('#classid').html(s);
                }
            });
        });

    </script>

    <script>
        
        function validate(id) {
            
            var val1 = parseInt($('#totalmarks0').val());
            var val2 = parseInt($('#marksobt0').val());
            
            
            if (val2 >= 0 && val2 <= val1) {
                $('#error' + id).text("");
                return true;
            }
            else {
                $('#error'+id).text("Invalid Input");
                return false;
            }

        }
    </script>

    <script>
        $(document).ready(function () {
            //var teacherid
            $('#classid').change(function () {
                var val1 = $('#tid').val();
                var val2 = $('#classid').val(); 
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("getTeacherSubjects","User")?teacherid=' +  val1 + '&clasid=' + val2,
                    data: {},
                    
                    contentType: 'application/json',

                    success: function (list) {
                        var s = '<option value="-1">Please Select a Subject</option>';
                        for (var i = 0; i < list.length; i++) {
                            s += '<option value="' + list[i].Subject + '">' + list[i].Subject + '</option>';
                        }
                        $('#sbj').html(s);
                    }

                });


                $.ajax({
                    type: "GET",
                    url: '@Url.Action("getTeacherClass","User")?classid=' + val2,
                    data: {},

                    contentType: 'application/json',

                    success: function (list) {
                        var s = '<tr><th>Student Id</th><th>Total Marks</th><th>Marks Obtained</th></tr>';
                        var l = '<input type="hidden" value="' + list.length + '" name="noOfStudents">'
                        for (var i = 0; i < list.length; i++) {
                            var idd= 'totalmarks'+i;
                            var iddd = "marksobt" + i;
                            
                            var err = 'error' + i;
                            var a = '<input type="hidden" name="StudentId' + i + '" value=' + list[i].StudentID + '>';
                            var b = '<input type="number" id=' + idd + ' name="TotalMarks' + i + '" placeholder="Total Marks">';
                            var c = '<input type="number" id=' + iddd + ' name="MarksObtained' + i + '" placeholder="Marks Obtained" onchange="validate('+i+')"><span style="color:red;font-size:small" id='+err + '></span>';

                            s += '<tr> <td>' + list[i].StudentID + a + '</td>' + '<td>' + b + '</td>' +  '<td>' + c + '</td>' + '<hr />';
                        }
                        s += l;
                        $('#std').html(s);
                    }

                });


            });
        });



    </script>



   




    <title>AddResult</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .cnt hr {
            color:black;
        }

        .panel-heading {
            font-size: 20px;
            background-color: orangered;
            color: white;
            padding: 10px 15px;
            border-bottom: 1px solid transparent;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        /* Style the header */
        header {
            background-color: #00004d;
            padding-top: 1px;
            padding-bottom: 1px;
            text-align: left-center;
            font-size: 32px;
            color: white;
        }
        /* Container for flexboxes */
        section {
            display: -webkit-flex;
            display: flex;
        }

         .cnt {
            border-radius: 20px;
            background-color: white;
            padding:20px;
            margin: 20px 30px 20px 30px;
            position:;
        }

         .cnt1 {
            border-radius: 20px;
            background-color: lightgray;
            padding:10px;
            margin: 20px 30px 20px 30px;
            position:;
        }


        

        /* Style the content */
        article {
            -webkit-flex: 3;
            -ms-flex: 3;
            flex: 3;
            background-color: #ffff99;
            padding-bottom: 800px;
            margin-left: -100px;
        }

        /* Style the footer */
        footer {
            background-color: #777;
            padding: 10px;
            text-align: center;
            color: white;
        }

        /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */


        .container {
            margin: 50px 100px 100px 100px;
            width: 10px;
            border-radius: 5px;
            background-color: gray;
            padding: 10%;
            padding-right: 50%;
            text-align: left;
        }

        input[type=date], select {
            width: 30%;
            padding: 12px 20px;
            margin-top: 15px;
            margin-left: 15px;
            margin-right: 20px;
            margin-bottom: 10px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }


        input[type=text], select {
            width: 30%;
            padding: 12px 20px;
            margin: 10px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=submit] {
            width: 10%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 20px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=text]#search {
            float: right;
            margin-top: -41px;
            margin-right: 1px;
            width: 135px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 15px;
            background-color: white;
            background-image: url('searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            padding: 5px 10px 5px 10px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }

        input[type=text]:focus#search {
            width: 20%;
        }


        input[type=submit]:hover {
            background-color: #45a049;
        }

        input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
       



        img {
            float: left;
            margin-top: -1px;
        }

        .box {
            width: 300px;
            height: 100px;
            margin: 19px 17px;
            background: white;
            display: inline-block;
        }

       

        .button#b1 {
            background-color: #4CAF50;
            border-radius: 2px;
            color: white;
            padding: 10px 30px;
            text-align: center;
            text-decoration: none;
            display: block;
            font-size: 16px;
            margin: 40px 2px;
            cursor: pointer;
            width: 10%;
            float: right;
        }

        

        
        
    </style>
</head>
<body>



    <header>
        <a href='@Url.Action("TeacherHome","User")'><img src="~/Content/images/new logo 5.jpg" style="border-radius:5px; width:203px;height:124px;"></a>
        <b style="position:absolute;right:35px;top:20px;font-size:20px;">Teacher</b>

        <a href='@Url.Action("Login","User")' class="button" id="b1">Logout</a>
        <h4 style="text-align:left; margin-left: 300px;"> <b>Welcome To FGS</b> Management System</h4>
        <input type="text" id="search" name="search" placeholder="Search..">

    </header>

    <section>
        <nav>
            <ul>








                <li>
                    <div class="dropdown">
                        <button onclick="myFunction('5')" class="dropbtn">
                             Announcements &#9660</button>
                        <div id="myDropdown5" class="dropdown-content">
                            @Html.ActionLink("Add Announcement", "AddAnnouncement", "Communication")
                            @Html.ActionLink("View General Announcements", "ViewGeneralAnnouncements", "Communication")
                        </div>

                    </div>



                    <hr />
                </li>

                <li>
                    <div class="dropdown">
                        <button onclick="myFunction('8')" class="dropbtn">Result &#9660</button>
                        <div id="myDropdown8" class="dropdown-content">
                            @Html.ActionLink("View Result", "ViewResultTeacher", "Result")
                            @Html.ActionLink("Add Result", "AddResult", "Result")

                        </div>

                    </div>



                    <hr />
                </li>


                <li>

                    <div class="dropdown">
                        <button onclick="myFunction('6')" class="dropbtn">Time Table &#9660</button>
                        <div id="myDropdown6" class="dropdown-content">

                            @Html.ActionLink("View Schedule", "ViewScheduleTeacher", "Schedule")
                        </div>

                    </div>
                    <hr />
                </li>




                <li>
                    <div class="dropdown">
                        <button onclick="myFunction('7')" class="dropbtn">Attendance &#9660</button>
                        <div id="myDropdown7" class="dropdown-content">
                            @Html.ActionLink("View Attendance", "ViewAttendanceTeacher", "Attendance")
                            @Html.ActionLink("Mark Attendance", "MarkAttendance", "Attendance")
                        </div>

                    </div>
                    <hr />
                </li>
            </ul>

        </nav>

        <article>
            <div class="panel-heading">
                <b>Add New Result</b>
            </div>
            <div class="cnt">
                

                
                    @using (Html.BeginForm("AddResult", "Result", FormMethod.Post, new { id = "signupform" }))

                    {
                                        <!--<form role="form" action="Create" method="post">-->
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="Date" value="@DateTime.Now.ToString()">;
                        <label for="fclass">Class</label>
                        <select id="classid" name="ClassID" style="margin-left:18px;"></select>

                        <label for="fname">Subject</label>
                        <select id="sbj" name="Subject"></select>

                        <label>Type</label>
                        <select id="type" name="Type" style="margin-left:18px;">

                            <option value="Final">Final</option>
                            <option value="Mid">Mid-Term</option>
                            <option value="Test">Test</option>
                        </select>

                        <div class="cnt1">
                            @Html.ValidationMessageFor(m => m.ResultId, "", new { @class = "text-danger" })
                            <table id="std"></table>

                        </div>






















                        
                        <input type="hidden" id="tid" value="@Session["username"].ToString()" />
                        <input type="submit" value="Save">
                    }
                </div>



            

        </article>
    </section>

    <footer>
        <p>Footer</p>
    </footer>

</body>
</html>


